#data_table_title
{
	font-size: 1.7em;
	font-weight:bold;
	margin: 10px;
	text-align: center;
	color: #2779AA;
}

.data-table-toolbar
{
	margin-left:50px;
	float:left;
}

.data-table-toolbar input
{
	margin: 5px 15px 5px 0;
	vertical-align : middle;
}

.data-table-toolbar input[type="button"]
{
	padding: 2px 15px;
	border: 1px solid #cccccc;
	background-color: #f6f6f6;
	font-weight: bold;
	color: #1c94c4;
	cursor: pointer;
}
