/* COMBOBOX
----------------------------------------------------------*/

.ui-autocomplete 
{ 
	max-height: 300px; 
	overflow-y: auto; 
	overflow-x: hidden;
}

.ui-combobox {
    position: relative;
    display: inline-block;
}

.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* adjust styles for IE 6/7 */
    *height: 1.7em;
    *top: 0.1em;
}

.ui-combobox-input {
    margin: 0;
    padding-left: 0.3em;
    background: white !important;
}

.ui-combobox-select 
{
    margin: 0;
    padding-left: 0.3em;
    opacity: 1 !important;
    background: white !important;
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif !important;
	font-size: 14px !important;
	cursor:pointer;
}

.ui-combobox-nonselected span
{
	color: #A9A9A9;
}

.ui-autocomplete-loading {
    background: white url('/Images/ui-anim_basic_16x16.gif') right center no-repeat !important;
    background-origin:content-box !important;
}


/* DIALOG
----------------------------------------------------------*/

.hz-dialog
{
	display: none;
}

.ui-dialog-titlebar
{
	background-color: #ABC4DF !important;
	background-image:none !important;
	border:0px !important;
}

.hz-dialog-buttonpane
{
	text-align: left; 
	border-width: 1px 0 0 0; 
	border-style: solid;
	border-color: #dddddd;
	color: #333333;	 
	margin: .5em 0 0 0; 
	padding: .3em 1em .5em .4em; 	
}

.hz-dialog-buttonset
{
	float: right;
}

.hz-dialog-custom-buttons
{
	margin-left:10px;
	display:inline-block;
	float: left;
}

.hz-dialog-button 
{ 
	margin: .5em .4em .5em 0;
	display: inline-block; 
	position: relative; 
	padding: 0; 
	padding: .4em 1em; 
	cursor: pointer; 
	text-align: center; 
	overflow: visible; 
}

.hz-dialog-button, .hz-dialog-button:link, .hz-dialog-button:visited, .hz-dialog-button:hover, .hz-dialog-button:active 
{ 
	text-decoration: none; 
}

.hz-button-state-default
{ 
	border: 1px solid #cccccc; 
	background-color: #f6f6f6; 
	font-weight: bold; 
	color: #1c94c4; 
}

.hz-button-state-hover
{ 
	border: 1px solid #fbcb09; 
	background-color: #fdf5ce; 
	font-weight: bold; 
	color: #c77405; 
}

.hz-button-state-active
{ 
	border: 1px solid #fbd850; 
	background-color: #ffffff; 
	font-weight: bold; 
	color: #eb8f00; 
}

