.print-header
{
	width: 100%;
}

.print-header p
{
	width : 100%;
	text-align : center;
	font-weight: bold;
	font-size: 12pt;
	font-family: arial;
	color : Black;
}

.print-table-header
{
	width : 100%;
}

.print-table-header th
{
	text-align : center;
	font-weight: bold;
	font-size: 11pt;
	font-family: arial;
	color : Black;
}

.print-table-disp-header
{
	width : 100%;
	margin-top : 10pt;
}

.print-table-disp-header span
{
	margin-left : 20pt;
	text-align : left;
	font-weight : bold;
	font-style : italic;
	font-size: 12pt;
	font-family : arial;
	color : Black;
}

.print-table-disp-total
{
	width : 100%;
	margin-top : 10pt;
}

.print-table-disp-total span
{
	margin-left : 15pt;
	margin-top : 40pt;
	text-align : left;
	font-weight : bold;
	font-style : italic;
	font-size: 11pt;
	font-family : arial;
	color : Black;
}

.print-table-journal-header
{
	width : 100%;
	margin-top : 10pt;
}

.print-table-journal-header span
{
	margin-left : 20pt;
	text-align : left;
	font-weight : bold;
	font-style : italic;
	font-size: 11pt;
	font-family : arial;
	color : Black;
}

.print-table-data
{
	width : 100%;
	text-align : center;
	font-size: 11pt;
	font-family: arial;
	color : Black;
}

.print-table-data tr
{
	height : 25pt;
}

.print-table-total
{
	width : 100%;
	margin-top : 10pt;
}

.print-table-total span
{
	margin-left : 20pt;
	text-align : left;
	font-weight : bold;
	font-style : italic;
	font-size: 12pt;
	font-family : arial;
	color : Black;
}

.print-signature
{
	width : 100%;
	margin-top : 20pt;
}

.print-signature-left
{
	float : left;
}

.print-signature-right
{
	float : right;
}

.print-signature span
{
	width : 100%;
	font-size: 12pt;
	font-family: arial;
	color : Black;
}

.print-claim-control
{
	width : 100%;
}

.print-claim-property
{
	width : 100%;
	margin-top : 10pt;
	margin-bottom : 10pt;
	text-align : left;
	font-size: 11pt;
	font-family: arial;
	color : Black;
}

.print-claim-property-name
{
	font-weight : bold;
}
