/* ------------------- INSERT COMMON CLAIM PAGE ------------------- */

#InsertClaimInfo
{
	width: 650px;
}

#Failure 
{
	width : 400px;
}

#FailureValidator
{
	margin-left:30px;
}

#Comment
{
	width : 430px;
	height : 60px;
	resize: none;
}

#Recaptcha
{
	margin-left: 140px;
}

/* ------------------- CLAIM INFO PAGE ------------------- */

.claim-info-row
{
	width : 100%;
	margin: 10pt 0 10pt 10pt;
	text-align : left;
	font-size: 10pt;
	font-family: arial;
	color : Black;
}

.claim-info-label
{
	display: inline-block;
	width: 180px;
	font-weight : bold;
}

.claim-info-field
{
}
