/* ------------------- USER CONTROL ------------------- */

.user-row-wrap
{
	padding-bottom: 30px;
	margin-right : 15px;
}

.user-field-label
{
	padding: 5px 15px 3px 0;
	color: #555;
	width: 150px;
	text-align: right;
	float: left;	
}

.user-field
{
	float: left;
	width: 230px;
}

.user-field input
{
	width: 100%;
	padding-left: 0.3em;
	float: none;
}

.user-field select
{
	width: 238px;
}

.user-validators
{
	margin-left:50px;
	font-weight:bold;
	color:Red;
}

#user_activated
{
	width: auto;
	margin-top: 8px;
}

#user_address
{
	width : 198px !important;
}

#user_flat 
{
	width: 60px !important;
	text-align : center;
}

/* ------------------- USER RULES CONTROL ------------------- */

.user-rules-table-toolbar
{
	margin-left:50px;
	float:left;
}

.user-rules-table-toolbar input
{
	margin: 5px 15px 5px 0;
	vertical-align : middle;
}

.user-rules-table-toolbar input[type="button"]
{
	padding: 2px 15px;
	border: 1px solid #cccccc;
	background-color: #f6f6f6;
	font-weight: bold;
	color: #1c94c4;
	cursor: pointer;
}

/* ------------------- USER RULE CONTROL ------------------- */

.user-rule-row-wrap
{
	padding-bottom: 30px;
	margin-right : 15px;
}

.user-rule-field-label
{
	padding: 5px 15px 3px 0;
	color: #555;
	width: 100px;
	text-align: right;
	float: left;	
}

.user-rule-field
{
	float: left;
	width: 150px;
}

.user-rule-field select
{
	width: 153px;
}


