/* ------------------- COMMON ------------------- */

.page-box {
	border: solid 1px #c0c0c0;
	background-color: #f6f6f6;
}

.page-headline-inner
{
	color: #2f58ac;
	padding : 0 20px 0 20px;
}

.page-inner-box 
{
	padding : 0 20px 20px 20px;
}

.page-fieldset-wrap
{
    width: 480px;
    padding-left:10px;
}

.page-fieldset-wrap fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

.page-fieldset-wrap legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

.page-row
{
	margin-bottom: 10px;
	margin-left: 10px;
}

.page-row-label
{
	font-weight: normal;
	margin-right: 10px;
	display: block;
	float: left;
	line-height: 27px;
	text-transform: none;
	width: 135px;
}

input.page-row-field, textarea.page-row-field
{
	width: 250px;
	height: 26px;
	line-height: 25px;
	font-family: verdana,sans-serif;
	font-size: 12px;
	padding: 0 0 1px 9px;
	border: 1px solid #A9A9A9 !important;
}

select.page-row-field, button.page-row-field
{
	width: 263px;
	height: 30px;
	padding: 0 0 1px 9px;
	border: 1px solid #A9A9A9 !important;
	-webkit-border-radius: 0 !important;
	-khtml-border-top-right-radius: 0 !important;
	border-radius: 0 !important;
}

.page-row a
{
	color: #2f58ac;
	font-weight:bold;
}

.page-status
{
	width: 100%;
	font-weight: bold;
	font-size: 11pt;
	text-align: center;
}

.page-validators
{
    font-size: 1.2em;
    color: Red;
}

.page-submit
{
	text-align: right;
	padding-right:30px;
}

.page-submit input
{
	background: #2f58ac;
	text-align: center;
	padding: 8px 17px;
	color: #fff !important;
	font-size: 12px;
	overflow: visible;
	font-family: verdana,arial,sans-serif;
	text-decoration: none;
	font-weight: normal;
	line-height: 1;
	position: relative;
	cursor: pointer;
	border: 0;
}

.map
{
	width: 400px;
	height: 300px;	
	margin-left:40px;
	margin-bottom : 20px;
}

/* ------------------- MASTER ------------------- */

body   
{
    background-color: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

.page
{
    width: 1000px;
    background-color: White;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: #0A3C91;
    width: 100%;
    height:45px;
}

.logo
{
    display: block;
    float: left;
    text-align: left;
    width: 250px;
}

.logo a img
{
    display: block;
    float: left;
    width: auto;
    margin-left: 20px;
    border: none;
}

.header_nav
{
	float: right;
	margin-right: 20px;
}

.header_nav .login-name span 
{
	font-weight: bold;
	font-size: 11px;
	color: #E8EFF7;
}

.header_nav a 
{
	display: block;
	padding: 15px 10px 15px;
	height: 13px;
	margin: 0px;
	font-weight: bold;
	font-size: 11px;
	color: #E8EFF7;
	text-decoration: none;
	cursor: pointer;
}

.header_nav a:hover
{
	background-color:#3E5F91;
}

.header_nav .login-status
{
	margin-left: 40px;
}

.main
{
    padding: 0px 12px;
    margin: 15px 8px 0px 8px;
}

.footer_wrap
{
	background-color:White;
    padding: 12px 0px 10px 0px;
    margin: 0px auto;
    font-size:10px;
    text-align: center;
    line-height: normal;
}

.bottom_nav a 
{
	color: #2B587A;
	text-decoration: none;
	cursor: pointer;
	padding: 2px 5px;
}

.footer
{
    color: #4e5766;
    margin-top:5px;
}

.yandex-counter
{
	float: right;
	margin-right: 20px;
	margin-top: -30px;
}


/* ------------------- LOADING ------------------- */

.loading-container 
{
    display:    none;
    position:   fixed;
    z-index:    2000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .5 ) 
                url('/Images/loading.gif') 
                50% 50% 
                no-repeat;
}

body.loading .loading-container 
{
    display: block;
}

/* ------------------- MISC ------------------- */

.clear
{
    clear: both;
}

.float-left
{
	float: left;
}

.float-right;
{
	float: right;
}

.bold
{
    font-weight: bold;
}

.align-left 
{ 
	text-align: left; 
}

.align-center 
{ 
	text-align: center; 
}

.align-right 
{ 
	text-align: right; 
}

.green
{
	color : green;
}

.red
{
	color : Red;
}

.black
{
	color: Black;
}

.inset
{
    border: 2px inset #EEEEEE !important;
}

.success
{
	display: none;
	background: url("/Images/success.png") 0 0 no-repeat;
	height: 16px;
	width: 16px;
}

.error
{
	display: none;
	background: url("/Images/error.png") 0 0 no-repeat;
	height: 14px;
	width: 17px;
}

.required-star
{
	color: #c00 !important;
	list-style-type: none;
}

