#MessageInfo
{
	width: 650px;
}

#Name, #Email, #Phone, #Subject, #Message
{
	width : 350px;
}

#Message
{
	height : 120px;
	resize: none;
}

#Recaptcha
{
	margin-left: 140px;
}

